<!doctype html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Неделя {{ week.start_date }}, день - {{ day.get_day_name }}</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>
    <div class="container">
        <h1>Домашние задания на {{ day.get_day_name }}</h1>

        <div class="hometask-list">
            {% for hometask in day.hometasks.all %}
                <div class="card">
                    <h3>Домашнее по {{ hometask.get_subject_display }}</h3>
                    <ul>
                        <li><strong>Задание:</strong> {{ hometask.task_text }}</li>
                        <li><strong>Сделать на:</strong> {{ hometask.due_date }}</li>
                        <li><strong>Статус:</strong> {{ hometask.get_status_display }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'week_list' %}" class="btn btn-secondary">Назад к неделе</a>
    </div>
</body>
</html>
